:root{
     --yellow: #FCE7AE ;
     --darkb: #373741 ;
     --grey: #737373 ;
     --black: #121212;
     --darkyellow: #e9b119;

}
 
*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: "Lato", Arial, sans-serif;
     scroll-behavior: smooth;
}

body {
     font-size: 1.5rem;
     line-height: 2;
     background-color: whitesmoke;
     color: var(--black)
}

/* base */
h1, h2, h3, h4 {
     text-align: center;
}

h2 {
     padding: 3rem;
}

h4{
     background-color: var(--yellow);
     padding: 1.5rem;
}

a {
     color: var(--darkb) ;
     text-decoration: none;
     -webkit-transition: 0.5s;
     -o-transition: 0.5s;
     transition: 0.5s;
}

a:hover, a:active, a:focus, a.link:hover, a.link:active, a.link:focus {
     color: var(--darkyellow) ;
     outline: none;
     text-decoration: none !important;
}

a.link {
     color: var(--yellow);
}
   
p {
     margin-bottom: 1.5em;
}

ul{
     list-style: none;
}

.btn{
     background-color: var(--darkb);
     color: var(--yellow);
}

.btn2{
     background-color: var(--yellow);
     color: var(--darkb);
     border: none;
     padding: 1rem 2rem;
     border-radius: 5px;
}

.btn:hover{
     background-color: var(--yellow);
}

.btn:visited, .btn:active, .btn:focus{
     color:var(--darkyellow);
}

small{
     color: var(--grey);
     margin: 0;
}

/* Aside Navbar */

aside {
     background-color: var(--yellow);
     padding-top: 60px;
     padding-bottom: 40px;
     width: 20%;
     position: fixed;
     bottom: 0;
     top: 0;
     left: 0;
     overflow-y: scroll;
     z-index:1001;
     -webkit-transition: 0.5s;
     -o-transition: 0.5s;
     transition: 0.5s;
     text-align: center;
}

aside h1 {
     line-height: 1.3;
}

aside .navigation {
     padding-top: 3rem;
     padding-bottom: 3rem;
     line-height: 3.5rem;

}

aside .footer ul {
     font-size: 2.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
     gap:1rem;
}

aside .copyright {
     font-size: 1rem;
}

.logo {
     height: 15vh;
     width: auto;
     border-radius: 50%;
     margin-top: 5rem;
     margin-bottom: 5rem;
}

/*aside right*/

main{
     width: 80%;
     position: relative;
     left: 20vw;
}

.banniere {
     background: var(--darkb);
     overflow-y: hidden;
     text-align: center;
     padding: 3rem;
}

.banniere h1 {
     color: white;
}

/*base section */
.about, .experience, .formation, .portfolio{
     background-color: white;
     text-align: center;
     margin: 8rem;
     box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.2);
     padding: 3rem;
}

.skills {
     background-color: white;
     text-align: center;
     margin: 0 8rem 0 8rem;
     box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.2);
     padding: 3rem 0;
}

.contact {
     background-color: var(--darkb);
     padding: 8rem;
     color: white;
}

.section-skills{
     position: relative;
     padding-top: 6rem;
     background: url(../public/images/portfolio.jpg) no-repeat fixed center / cover;
     width: 100%;
     height: 400px;
     margin-bottom: 5rem;
}

.experience{
     margin-top: 80rem;
}

.dark{
     background: var(--darkb);
     color: white;
     padding: 2rem 0;
     margin: 3rem 0;
}

.count{
     position: relative;
     padding-top: 10rem;
     background: url(../public/images/ordinateur2.jpg) no-repeat fixed center / cover;
     width: 100%;
     height: 36rem;
}

input, textarea, button{
     margin: 1.5rem
}

footer{
     background-color: var(--black);
     color: var(--darkb);
}

.img-res{
     height: 15vw;
     border-radius: 5%;
     border: var(--grey) 1px solid;
}